<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Spotify Connected</title>
</head>
<body>
  <div class="container">
    <h1>✅ Spotify Connected!</h1>
    <p>Thanks, user <strong>{{ user }}</strong>. Your Spotify account is now linked.</p>
    <p>You can now return to Discord and start playing music with the bot.</p>
    <a href="discord://" class="spotify-button">Return to Discord</a>
  </div>
</body>
</html>